* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: sticky;
  top: 0;
}
body {
  overflow-x: hidden;
}
.inner-header {
  box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.11);
  background-color: #27055edd;
}

.container-header {
  max-width: 1340px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 22px;
}

.logo > a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
}
.bars > svg {
  cursor: pointer;
}
.list-items > ul {
  display: flex;
  list-style: none;
}

.list-items ul li {
  padding: 0px 22px;
}

.list-items ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 200;
  position: relative;
}

.list-items ul li a::before {
  content: "";
  transition: 1s ease;
  position: absolute;
  width: 0;
  border-bottom: 2px solid black;
  top: 22px;
}

.bars {
  display: none;
}

.list-items ul li a:hover::before {
  width: 100%;
}
.bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/home-page-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 90vh;
}
/* Navbar End */

/* images start */

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 8%;
  background-color: rgb(185, 183, 180);
}
.head h1 {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 40px;
  color: #27055edd;
  font-weight: 400;
  text-align: center;
}
.head hr {
  width: 230px;
  background-color: brown;
  height: 6px;
  margin-left: 560px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.gallery img {
  width: 100%;
  border: 16px solid lightblue;
}
/* images end */

/* media Query Navbar start */
@media only screen and (max-width: 900px) {
  .bars {
    display: block;
  }

  .main-header {
    position: relative;
  }

  .active {
    left: 0 !important;
  }

  .list-items {
    transition: 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 95px;
    left: -100%;
    width: 40%;
    height: 100vh;
    background-color: #27055edd;
    filter: blur(0.7px);
  }

  .list-items ul {
    padding: 10px;
    height: 36vh;
    flex-direction: column;
    justify-content: space-between;
  }

  .bars svg {
    width: 35px;
    height: 35px;
  }

  .list-items ul li a {
    color: #fff;
  }

  .list-items ul li a::before {
    content: none;
  }
}
/* navbar media query end */
/* gallery start */
@media (max-width: 800px) {
  .head hr {
    width: 200px;
    height: 5px;
    color: brown;
    margin-left: 280px;
  }
}
@media (max-width: 600px) {
  .head hr {
    width: 200px;
    height: 5px;
    color: brown;
    margin-left: 100px;
  }
}
/* images end */
/* contact start */
.contact {
  background-color: #27055edd;
  width: 100%;
  height: 30vh;
  filter: blur(0.5px);
}
.content h1 {
  font-size: 30px;
  font-weight: 200;
  padding: 40px;
  color: #fff;
}
.content-p a {
  color: #fff;
  margin-left: 50px;
  text-decoration: none;
}
a i .fa {
  color: #fff;
}
/* contact end */
/* footer start */
.footer {
  font-size: 18px;
  padding: 10px;
  margin-left: 80px;
}
.footer p span {
  color: brown;
}
